{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center text-info">Category page</h1>
    <a href="{{url_for('catCreate')}}" class="btn btn-primary btn-sm">Create</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Since</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            {% for cat in context.cats %}
            <tr>
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <td>{{cat.created_at}}</td>
                <td>
                    <a href="{{url_for('catEdit',id=cat.id)}}" class="btn btn-warning">Edit</a>
                    <a href="{{url_for('catDelete',id=cat.id)}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}